.projectBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 4rem;
}

.projectHeader h2,
.projectHeader p {
    text-align: center;
}

.projectHeader p {
    color: #777777;
}

.projectContentLeft {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}

.projectContentRight {
    margin: auto;
    width: 80%;
}

.projectSlug span {
    display: inline-block;
    width: 9rem;
}

.projectContentRight a {
    color: #253BFF;
    font-weight: 600;
}

.projectDescription {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c0c0c0;
}

.projectDescription p {
    margin-bottom: 1rem;
}

.projectContentBox {
    width: 100%;
    margin: auto;
    gap: 2rem;
}